:root {
    --haras-orange: #ff8828;
}

input {
    width: 90% !important;
    background-color: grey !important;
}

select {
    background-color: grey !important;
    color: black !important;
}

::placeholder {
  color: black !important;
  opacity: 1 !important; /* Firefox */
}

.nav-bar {
    padding: .2rem 1rem;
}

.bg-dark {
    background-color: black !important;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 1.1rem;
    margin: 0 1rem;
}

.participe {
    padding: .2rem 2.5rem;
    background-color: var(--haras-orange);
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 1.2rem;
}

.row:first-of-type {
    align-items: center;
}

.row .col p {
    margin: 0;
    padding-top: 2rem;
}

.como-funciona {
    color: var(--haras-orange);
    font-size: 4rem;
    padding-left: 20%;
}

.participe.comofunciona {
    margin: 4rem 0;
    font-size: 2rem;
}

#quempode p:not(.como-funciona) {
    padding-top: 4rem;
    color: white;
    font-size: 1.2rem;
}

.participe.quempode {
    margin: 4rem 0;
    font-size: 2rem;
    padding: 0 15%;
}

.box {
    height: 100%;
}

.icon {
    max-width: 35%;
    height: auto;
}

#passoapasso .container > p:first-of-type {
    margin-top: 3rem;
    font-size: 3rem;
    color: var(--haras-orange);
}

#passoapasso .row {
    margin-top: 4rem;
    margin-bottom: 5rem;
}

#passoapasso .row .col p:first-of-type {
    color: var(--haras-orange);
    font-size: 1.2rem;
}

#passoapasso .container > p:last-of-type {
    margin-top: 3rem;
    font-size: 1.35rem;
}

.participe.passoapasso {
    margin: 2rem 0;
    font-size: 2rem;
    padding: 0 5%;
}

.mt-7 {
    margin-top: 6rem;
}

#enviesuafoto {
    background-color: grey;
    padding-bottom: 3rem;
}

#enviesuafoto .icon {
    max-width: 30%;
    margin-top: 2rem;
}

#enviesuafoto .col, #enviesuafoto .col-md-3 {
    background-color: white; 
}

.mg-right {
    margin-right: 5rem;
}

.files .col {
    border: 1px solid black;
}

.files .col button {
    margin: 8rem auto;
    display: block;
    border: none;
    background-color: black;
    color: white;
}

.participe.enviar {
    display: block;
    margin: 1rem auto;
    padding: 1% 5%;
}

#enviesuafoto .container p:first-of-type {
    color: var(--haras-orange);
    font-size: 2rem;
    padding: 2rem 0;
}

.anexe {
    color: var(--haras-orange);
    margin: 2rem 0;
    font-size: 1.5rem;
}

.mg-right-1 {
    margin-right: 1rem;
}

.col-md-3.text-center.ml-5 p {
    font-size: 1.3rem;
    line-height: 25px;
}

#oharas {
    background-color: black;
    color: white;
    padding: 2rem 1rem
}

#oharas p:first-of-type {
    color: var(--haras-orange);
    font-size: 2rem;
}

#oharas button {
    margin: 0 auto;
    margin-top: 2rem;
    display: block;
}

#contato {
    background: var(--haras-orange);
}

#contato .col {
    background-color: white;
    padding: 2rem;
}

#contato .col .icon {
    max-width: 10%;
}

#contato .col img {
    padding: .7rem 0;    
}

#contato .col span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2rem;
    font-size: 1.7rem;
    line-height: 25px;
}

.mg-right-2 {
    margin-right: 2rem;
}